<html>

<head>
	<title>Campanha_NOVA_SEDE_EMKT_GABARITO</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<style>
	body {
		font-family: Arial, Helvetica, sans-serif;
	}

	.divTitulo {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.fontTitulo {
		color: #13377e;
		font-size: 40px;
		font-weight: bold;
	}

	.fontText {
		padding: 5px 40px 40px 40px;
		font-size: 20px;
		text-align: justify;
		color: #000;
		font-weight: 200;
		line-height: 20px;
	}

	.listText {
		list-style: none;
		padding-left: 0;
	}
	.linkEnder{
		text-decoration: none;
		color: #13377e;
	}
	.fontEndereco{
		display: flex; 
		align-items: start; 
		justify-content: start;
		font-size: 15px;
		color: #13377e;
		font-weight: 200;
	}
</style>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<table id="Tabela_01" width="602" height="1226" border="0" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td colspan="8">
				<a target="_blank" href="https://hidrotube.com.br/">
					<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image1" width="602" height="441" alt=""></a>
			</td>
		</tr>
<!--INICIO----Texto--------->
		<tr>
			<td colspan="8">
				<div class="divTitulo" style="width: 602px; height: 76px;">
					<h1 class="fontTitulo">Estamos de casa nova.</h1>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="8">
				<div style="width: 602; height: 494;">
					<div class="fontText">
						<p>Nossa nova sede está pronta e representa mais uma etapa da missão <span style="color: #13377e; font-weight: bold;">HIDROTUBE</span> em um mercado altamente competitivo que merece o melhor em desempenho e máxima qualidade em atendimento, agilidade e dedicação.</p>
						<p>Sua confiança nessa jornada foi fundamental para os alicerces dessa relação. Nesse sentido, convidamos você para uma visita em nossas instalações, reafirmando nosso compromisso em proporcionar o melhor em produtos e serviços para os seus projetos.</p>
						Aguardamos você.

						<ul class="listText">
							Contatos:
							<li>Vendedor Responsável: Caique Vendemiatti</li>
							<li><img style="padding-right: 5px;" src="cid:image2">  (19) 99829-7899</li>
							<li><img style="padding-right: 5px;" src="cid:image3">  caique@hidrotube.com.br</li>
							<li><img style="padding-right: 5px;" src="cid:image4">  (19) 3452-5313</li>
						</ul>
					</div>
				</div>
			</td>
		</tr>
		<!--FIM-------Texto--------->
		<!--INICIO----Endereco--------->
		<tr>
			<td rowspan="2">
				<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image5" width="31" height="94" alt="">
			</td>
			<td colspan="3">
				<a target="_blank" href="https://www.google.com/maps/place/HIDROTUBE/@-22.5339902,-47.3892769,18.25z/data=!4m14!1m7!3m6!1s0x94c87e1ee3ac5245:0xf977bb593bc0a7f0!2sAv.+Ambr%C3%B3sio+Fumagali,+1907+-+Parque+Egisto+Ragazzo,+Limeira+-+SP,+13485-333!3b1!8m2!3d-22.5349813!4d-47.3876847!3m5!1s0x94c87f4808f02769:0x480fc98d92769aa6!8m2!3d-22.5338272!4d-47.3892071!16s%2Fg%2F11nnzly084?authuser=0">
					<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image6" width="61" height="70" border="0" alt=""></a>
			</td>
			<td colspan="4" rowspan="2">
				<div class="fontEndereco" style="width: 510px; height: 94px;">
					<div style="padding-left: 7px;">
						</p><a class="linkEnder" href="https://www.google.com/maps/place/HIDROTUBE/@-22.5339902,-47.3892769,18.25z/data=!4m14!1m7!3m6!1s0x94c87e1ee3ac5245:0xf977bb593bc0a7f0!2sAv.+Ambr%C3%B3sio+Fumagali,+1907+-+Parque+Egisto+Ragazzo,+Limeira+-+SP,+13485-333!3b1!8m2!3d-22.5349813!4d-47.3876847!3m5!1s0x94c87f4808f02769:0x480fc98d92769aa6!8m2!3d-22.5338272!4d-47.3892071!16s%2Fg%2F11nnzly084?authuser=0">
							<strong>Anote e clique aqui.</strong><br>
						</a>
						<i>Avenida Ambrósio Fumagalli, 1907, Parque Egisto Ragazzo<br>
						Limeira - SP - CEP 13485-333</i>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image7" width="61" height="24" alt="">
			</td>
		</tr>
		<!--FIM-------Endereco--------->
		<tr>
			<td rowspan="5">
				<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image8" width="31" height="94" alt="">
			</td>
			<td colspan="5" rowspan="2">
				<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image9" width="115" height="45" alt="">
			</td>
			<td rowspan="4">
				<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image10" width="150" height="78" alt="">
			</td>
			<td>
				<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image11" width="306" height="39" alt="">
			</td>
		</tr>
		<tr>
			<td rowspan="4">
				<a target="_blank" href="https://hidrotube.com.br/">
					<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image12" width="306" height="55" border="0" alt="HidroTube"></a>
			</td>
		</tr>
		<tr>
			<td colspan="5">
				<a target="_blank" href="https://hidrotube.com.br/">
					<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image13" width="115" height="15" border="0" alt="hidrotube.com.br"></a>
			</td>
		</tr>
		<tr>
			<td>
				<a target="_blank" href="https://www.facebook.com/hidrotube">
					<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image14" width="19" height="18" border="0" alt="F"></a>
			</td>
			<td>
				<a target="_blank" href="https://www.instagram.com/hidrotube/">
					<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image15" width="21" height="18" border="0" alt="I"></a>
			</td>
			<td>
				<a target="_blank" href="https://www.linkedin.com/company/hidrotube-hidraulica-industrial/about/">
					<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image16" width="21" height="18" border="0" alt="L"></a>
			</td>
			<td>
				<a target="_blank" href="https://twitter.com/hidrotube">
					<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image17" width="19" height="18" border="0" alt="T"></a>
			</td>
			<td>
				<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image18" width="35" height="18" alt="">
			</td>
		</tr>
		<tr>
			<td colspan="6">
				<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image19" width="265" height="16" alt="">
			</td>
		</tr>
		<tr>
			<td colspan="8">
				<img style='display: block; margin: 0; padding: 0; border: none;' src="cid:image20" width="602" height="27" alt="">
			</td>
		</tr>
	</table>
</body>

</html>